<div id="privacyModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Privacy Information and Disclaimer</h4>
      </div>
      <div class="modal-body">
        <div class="callout callout-info">
          <h4>Data Policy</h4>
          <p>Absolutely <b>no</b> data is being collected from any submitted reports. The text simply goes into the parser and then disappears into the abyss, leaving only pretty colors and rectangles. </p>
        </div>
        <div class='callout callout-warning'>
          <h4>Disclaimer</h4>
          <p>The DARS parser is a purely informational tool and is not intended for official advising purposes. Always consult with your advisor before making academic decisions!</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
